h1{
	color: #8B4513;
}

h2{
	color: #8B4513;
}

p{
	color: #8B4513;
	font-size: 25px;


}
p.maclasse{
	font-size: 30px;
}

body{
	background:  url("https://www.lairdubois.fr/media/cache/470x275o/b297289032e3c79eb22516f89f4768a689c91909.jpg");
	background-size: 100%;

}

nav.menu-nav ul li.btn{
	list-style-type: none;
}

nav.menu-nav ul li.btn{
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: #8B4513;
	text-decoration: none;
	padding: 20px;
}

nav.menu-nav ul li.btn:hover a{
	color: #8B4513;
	background-color: white;
}

table, th, td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
      }

h3 {
	color: #31904A;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}